
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background-image: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    background-position: center;
  
  }
  
  /* Style the side navigation */
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  
  }

  
  
  
  /* Side navigation links */
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
  
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the content */
  .content {
    margin-left: 200px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: calc(100% - 70px);
    max-width: 980px;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0
    2px 4px 0 rgba(0,0,0,0.19);
    font-size: 18px;

    
  }

/* Media query for small screens */
@media only screen and (max-width: 768px) {
    .sidenav {
    height: 20px; /* Set a fixed height for the side navigation on small screens */
    padding: 30px;
    width: 100%; /* Occupy full width on small screens */
    background-color: #111;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    }

    body{
        overflow: scroll;
       background-size: cover;
       background-repeat: no-repeat;
       height: 130vh;
       
       
    }

    .sidenav a {
        color: white;
        text-decoration: none;
        padding: 16px;
        transition: 0.3s;
    }
    
    /* Change color on hover */
    .sidenav a:hover {
        background-color: #ddd;
        color: black;
    }

    .content {
        margin-top: 20px;
        text-align: left;
        margin-left: 0px;
        height: 100%;
       
    }

    body{
        height:100%
    }
}


  
