
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;

  
  }
  
  /* Style the side navigation */
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

  
  }
  
  
  /* Side navigation links */
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
  
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the content */
  .content {
    margin-left: 260px;
    padding: 20px;
}

h2 {
    font-size: 36px;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Social Media Icons */
.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin-right: 20px;
}

.social-icons img {
    width: 40px;
    height: 40px;
}

/* Media query for small screens */
@media only screen and (max-width: 768px) {
    .sidenav {
    height: 20px; /* Set a fixed height for the side navigation on small screens */
    padding: 30px;
    width: 100%; /* Occupy full width on small screens */
    background-color: #111;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    }

    body{
        overflow: scroll;
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       
    }

    .sidenav a {
        color: white;
        text-decoration: none;
        padding: 16px;
        transition: 0.3s;
    }
    
    /* Change color on hover */
    .sidenav a:hover {
        background-color: #ddd;
        color: black;
    }

    .content {
        margin-top: 20px;
        text-align: left;
        margin-left: 0px;
        height: 100%;
    }
}




  
